body {
  margin-bottom: 20px;
  font-family: 'Dosis', sans-serif;
}

.container {
  width: 50%;
}

.jumbotron {
  margin-top: 20px;
  background-color: #337ab7;
  color: #fff;
}

#display_user img {
  width: 100px;
  border-radius:5%;
  float: right;
}
